ul {
  text-decoration: none;
  list-style-type: none;
}
.toggleBtn {
  background: none;
  border: none;
}
.close {
  float: none;
  font-size: 1rem;
  margin: 0 0.5rem;
}
.close-text {
  font-size: 1.5rem;
}
.edit {
  background: none;
  border: none;
}
